body{
    font-family:'Courier New', Courier, monospace;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}

.container{
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 0 20px #00ffee;
    border-radius: 20px;
    width: 350px;
}

h1{
    text-align: center;
    color: #333;
}
.input-section{
    display:flexbox;
    gap: 10px;
}

#taskIput{
    flex: 1;
    padding: 20px 40px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
#addTaskBtn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 6px;
    cursor: pointer;
}

#addTaskBtn:hover{
    background-color: #0056b3;
}

ul{
    list-style-type:none;
    margin-top: 15px;
    padding: 0;
}

li{
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

}

li.completed{
    text-decoration: line-through;
    color: gray;
}



